*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    
}
:root {
    --bege: #fff1cf;
    --white: #FFF;
    --dark-red: #a4181b;
    --semi-orange: #e9bc8b;
}

