header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bege);
}
 header ul {
    display: flex;
    gap: 7rem;
 }

 header ul, li {
    list-style: none;
 }

 header a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-red);
 }

 header img {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
 }