@import "./css/global.css";
@import "./css/header.css";

section{
    background-image: url("/assets/imagem\ fundo.png");
}

main {
    background-image: url(./assets/imagem\ fundo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}

main h1 {
    color: var(--white);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 4.2rem;
    margin-bottom: 2rem;
}


main  {
    display: flex;
    flex-direction: column;
}

main a {
    display: block;
    border: 2px solid var(--white);
    text-decoration: none;
    color: var(--white);
    padding: 2rem;
    line-height: .6rem;
    font-size: 3rem;
}

.localizacao img {
    border-radius: 3rem;
    width: 30%;
}

.capital img {
    border-radius: 3rem;
    width: 30%;
}

.localizacao {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--semi-orange);
}

.capital {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--semi-orange);
}

.moeda img {
    border-radius: 3rem;
    width: 30%;
}

.moeda {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--semi-orange);
}