@import "./css/global.css";
@import "./css/header.css";

section{
    background-image: url("/assets/imagem\ fundo.png");
}

main {
    background-image: url(./assets/imagem\ fundo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}

main h1 {
    color: var(--white);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 4.2rem;
}


main  {
    display: flex;
    flex-direction: column;
}

main a {
    border: 2px solid var(--white);
    text-decoration: none;
    color: var(--white);
    padding: .6rem;
    line-height: .6rem;
    width: 10rem;
    font-size: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.localizacao {
    border-style: solid;
}

.localizacao img {
    border-radius: 2.5rem;
}