@import "./css/global.css";
@import "./css/header.css";

section{
    background-image: url("/assets/imagem\ fundo.png");

}

main {
    background-image: url(./assets/imagem\ fundo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 1.5rem;
    margin-top: 2.5rem;
    
}

main h1 {
    color: var(--white);
}