@import "../css/global.css";
@import "../css/header.css";

body {
    background-color: var(--bege);
}

h1 {
    color: var(--dark-red);
}

.cultura1 {
    background-color: var(--semi-orange);
            width: 200px;
            margin: 10px;
            padding: 15px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px var(--semi-orange);
}




