@import "../css/global.css";
@import "../css/header.css";

body {
    background-color: #fff1cf;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #a4181b;
}

img {
    max-width: 25rem;
    height: 15rem;
    border-radius: 2.5rem;
    margin-left: 2rem;
}

p {
    font-family: Montaser Arabic, sans-serif;
    font-size: 1.6rem;
    margin-left: 0.3rem;
    margin-top: 1.5rem;
    color: black;
    font-weight: 550;
}

.cultura1, .cultura2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 4rem 10rem;
}

.cultura1 img, .cultura2 img {
    width: 30%; 
    margin-bottom: 2rem; 
    margin-left: 2rem;
}

.cultura1 p, .cultura2 p {
    text-align: justify;
    width: 30%;
}



  .cultura1 img {
    margin-right: 5rem;
    margin-left: 2.5rem;
    
  }
  
    .cultura2 img {
        margin-right: 4.3rem;
    }