@import "../css/global.css";
@import "../css/header.css";

body {
    background-color: var(--bege);
}

header {
  height: 6rem;
  margin: auto;
}

nav a {
    
    margin-right: 2rem;
    
}

header img {
  margin-left: 2rem;
}

p {
  font-family: Montaser Arabic, sans-serif;
  font-size: 1.6rem;
  margin-left: 0.3rem;
  margin-top: 1.5rem;
  color: black;
  font-weight: 550;
}

.historia1 {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  margin-right: 2rem;
  max-width: 120rem;
  margin-bottom: 0.5rem;
}

.historia1 img {
  border-radius: 1rem;
  max-width: 100%;
  height: 20rem;
  width: 51rem;
  
}

.historia1 p {
  font-family: Montaser Arabic, sans-serif;
  height: 20rem;
  width: 80rem;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 45%;
  font-size: 1.3rem;
  background-color: var(--semi-orange);
  margin-left: 4rem;
}

.historia2 {
  
  background-color: var(--bege);
}

 .historia2 img {
  border-radius: 1rem;
  max-width: 100%;
  margin-left: 6rem;
  height: 20rem;
  width: 55rem;
  margin-right: 4rem;
 }

 .historia2 {
  display: flex;
  flex-direction: row-reverse;
  
  margin: 1px auto;
  max-width: 120rem;
  
  
  
 }

 .historia2 p {
  font-family: Montaser Arabic, sans-serif;
  height: 20rem;
  width: 80rem;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 45%;
  font-size: 1.2rem;
  background-color: var(--semi-orange);
  margin-right: 2rem;
 }

 main h1{
  color: var(--dark-red);
  text-align: center;
  margin-block: 1rem;
 }


 
 

 