@import "../css/global.css";
@import "../css/header.css";

.turismo_capital img {
    width: 30rem;
}

body {
    background-color: #fff1cf;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #a4181b;
}

 img {
    max-width: 25rem;
    height: 15rem;
    border-radius: 2.5rem;
}

.turismo1 {
    display: flex;
    gap: 6rem;
    
    margin-left: 15rem;
    margin-right: 10rem;
    margin-top: 4rem;
   
}

 main div {
    
    max-width: 28rem;
}

.turismo2 {
   display: flex;
   gap: 6rem;
   margin-top: 10rem;
   margin-left: 15rem;
   margin-right: 10rem;
   

}

main {
    margin-bottom: 6rem;
    margin-top: 5rem;
    
}

p {
    font-family: Montaser Arabic, sans-serif;
    font-size: 1.6rem;
    margin-left: 0.3rem;
    margin-top: 1.5rem;
    color: black;
    font-weight: 550;
    text-align: justify;
}
